body {
    background-color:  #b3cde0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}
a {color: #03396c;}
h1, h2 {color: #011f4b;}


nav a {
    background-color: #002fba;
    color: #FFFFFF;
}

nav a:hover {background-color: #005b96;}

nav {padding: 10px;
    margin-bottom: 30px;
}

.container {display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.evenrow {background-color: lightgray;}


.img1 {float: left; margin-right:10px;}
.clear {clear: both;}

.float-right {float: right; margin-right: 10px;}


.firstrow, .secondrow, .thirdrow, .fourthrow
            {display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-color: #b3cde0;
            border-radius: 1em;
            margin: 1em;
            padding: 2em;
            
        } 
.firstrow div, .secondrow div, .thirdrow div, .fourthrow
            {flex: 1;
            margin: 1em;
            }
    
    
.firstrow, .secondrow, .thirdrow, .fourthrow {
    order: 3; 
    background-color: #fafafa; 
    border-radius: 1em;
    display: flex; 
    flex-wrap: wrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
    
h3 {text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em;
}


.secondrow {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    nav a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 800px) {
    nav span {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    nav span {
        margin-bottom: 10px;
    }
}

.firstrow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #fafafa;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
}

.firstrow .text {
    flex: 2;
    padding: 1em;
}

.firstrow .images{
flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.page1img {
    max-width: 450px;
}

.page2img1, .page2img2, .page2img3, .pageimg4 {
    max-width: 450px;
}


